
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mobile = Request.Browser.IsMobileDevice;
}
@model List<marketplace.WithdrawalExtend>


<div class="container-fluid">
    <div class="text-center mb-3">
        <p class="text-white">Lịch sử rút tiền</p>
    </div>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            var status = "Đang xử lý";
            var icon = "bi bi-info-circle";
            if (item.Status == 2)
            {
                status = "Thành công";
                icon = "bi-check-circle";
            }
            else if (item.Status == 4)
            {
                status = "Đã bị hủy";
                icon = "bi-x-circle";
            }

            <div class="item-order">
                <div class="detail-item">
                    <b>Mã đơn: </b>
                    <p>@item.Id</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian: </b>
                    <p>@item.CreatedDate.ToString("dd/MM HH:mm:ss")</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền: </b>
                    <p>@PTEcommerce.Business.Helper.MoneyFormat(item.Amount)</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái: </b>
                    @if (item.Status == 1)
                    {
                        <p class="status-payment-pending">Đang xử lý</p>
                    }
                    else if (item.Status == 2)
                    {
                        <p class="status-payment-success">Thành công</p>
                    }
                    else
                    {
                        <p class="status-payment-faild">
                            Thất bại
                        </p>
                    }

                </div>
            </div>

        }
    }
</div>