
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var mobile = Request.Browser.IsMobileDevice;
}

            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>2323</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-05-05 12:12</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-success">Thành công</p>
                </div>
            </div>

            <hr>
            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>2324</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-05-15 12:15</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-pending">Đang xử lý</p>
                </div>
            </div>

            <hr>
            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>2326</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-05-16 02:12</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-success">Thành công</p>
                </div>
            </div>

            <hr>
            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>23238</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-05-20 03:42</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-faild">Thất bại</p>
                </div>
            </div>

            <hr>
            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>23241</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-06-05 12:12</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-success">Thành công</p>
                </div>
            </div>

            <hr>

            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>23243</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-07-05 09:10</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-success">Thành công</p>
                </div>
            </div>

            <hr>

            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>2354</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-08-05 12:12</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-success">Thành công</p>
                </div>
            </div>

            <hr>

            <div class="item-order">
                <div class="detail-item">
                    <b>Số thứ tự đơn hàng:</b>
                    <p>2347</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian:</b>
                    <p>2023-08-10 12:12</p>
                </div>
                <div class="detail-item">
                    <b>Thành tiền:</b>
                    <p>100.000 đ</p>
                </div>
                <div class="detail-item">
                    <b>Trạng thái:</b>
                    <p class="status-payment-success">Thành công</p>
                </div>
            </div>

            <hr>


   