@model List<marketplace.HistoryTransfer>
@{

    ViewBag.Title = "HistoryOrder";
}
<div class="container-fluid">

    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {

            <div class="item-order">
                <div class="detail-item">
                    <b>Đơn hàng: </b>
                    <p>@item.Id</p>
                </div>
                <div class="detail-item">
                    <b>Thời gian: </b>
                    <p>@item.CreatedDate.ToString("dd/MM HH:mm:ss")</p>
                </div>
                <div class="detail-item">
                    <b>Dự đoán: </b>
                    <p><span class="float-end">@item.Note</span></p>
                </div>
                <div class="detail-item">
                    <b>Phần thưởng: </b>
                    <p>
                        <span class="float-end">
                            <b class="text-success">@PTEcommerce.Business.Helper.MoneyFormat(item.AmountAfter)</b>
                        </span>
                    </p>
                </div>
            </div>

            <hr>

        }
    }
</div>
