@{
    ViewBag.Title = "ĐĂNG NHẬP";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="work-page login-page">

    <div class="logo col-8">
        <img src="~/Assets/publics/images/logo-login.png" width="100" alt="">
    </div>

    <div class="main">

        <div class="form">
            <form>
                <div class="item-input">
                    <input step="10000" type="text" id="username" placeholder="Nhập tài khoản">
                </div>
                <div class="item-input">
                    <input step="10000" type="password" id="password" placeholder="Nhập mật khẩu">
                </div>
                <div class="item-input">
                    <input step="10000" type="password" id="repassword" placeholder="Nhập lại mật khẩu">
                </div>

                <div class="item-button button-payment">
                    <button type="submit" id="btnRegister">Đăng Ký</button>
                </div>
            </form>

            <div class="nav-form">
                <p>Bạn đã có tài khoản? <a href="/dang-nhap">Đăng nhập ngay</a></p>
            </div>
        </div>
    </div>

</div>
