
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="text" id="valueTimeCountDown" hidden />
<input type="text" id="sessionCurrent" hidden />
<div class="main">

    <div class="item-game">
        <div class="left col-8">
            <b>Kết quả gần nhất</b>
        </div>
        <div class="right col-4">
            <p id="resultSession1"></p>
            <div class="line"></div>
            <p id="resultSession2"></p>
        </div>
    </div>

    <div class="item-game">
        <div class="left col-8">
            <b>Phiên đang chạy</b>
        </div>
        <div class="right col-4">
            <p id="sessionName"></p>
            <div class="line"></div>
            <p id="timeCountDown"></p>
        </div>
    </div>

    <div class="list-mini-game">
        <div class="item-mini">
            <div class="top">
                <button>
                    <img src="/Assets/publics/images/youtobe.png" alt="" width="100%">
                </button>
            </div>
            <div class="bottom">
                <b>Lớn</b>
                <p>(Mã)</p>
            </div>
        </div>
        <div class="item-mini">
            <div>
                <button>
                    <img src="/Assets/publics/images/insta.png" alt="" width="100%">
                </button>
            </div>
            <div class="bottom">
                <b>NHỎ</b>
                <p>(Mã)</p>
            </div>
        </div>
        <div class="item-mini">
            <div class="top">
                <button>
                    <img src="/Assets/publics/images/tiktok.png" alt="" width="100%">
                </button>
            </div>
            <div class="bottom">
                <b>Đôi</b>
                <p>(Mã)</p>
            </div>
        </div>
        <div class="item-mini">
            <div class="top">
                <button>
                    <img src="/Assets/publics/images/zing.png" alt="" width="100%">
                </button>
            </div>
            <div class="bottom">
                <b>Đơn</b>
                <p>(Mã)</p>
            </div>
        </div>
    </div>

    <div class="result">
        <div class="title">
            <b>Kết quả</b>
        </div>
    </div>


</div>
<!-- MAIN END -->
